:root {
 --phi-abs-down: 0.61803399; 
 --phi-em-up: 1.61803399em;
 --phi-em-down: 0.61803399em; 
 --phi-pct-up: 161.803399%;
 --phi-pct-down: 61.803399%;
 --blue-dark: #114477;
 --blue-light: #336699;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
html {
    font-size: 1cm;
}
body {
    background-color: #eee;
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
    font-size: 0.423334rem;
    color: #333;
}

#main {
    width: 20rem;
    border: 1px dotted white;
    margin: 0 auto;
    background-color: white;
}

.font-arvo {
    font-family: Arvo;
}

.font-roboto {
    font-family: Roboto;
}

.font-exo2 {
    font-family: "Exo 2";
}

.font-nunito {
    font-family: Nunito;
}

* {
    border: 0;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content section > main > header > sup {
    font-size: var(--phi-em-down);
    position: absolute;
    top: 1px;
    margin-left: 5px;
    color: var(--blue-dark);
    font-weight: bold;
    font-size: 10px;
}

#certifications main li > .r {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    align-items: baseline;
}

#certifications main li > .r2 {
    display: none;
}

#certifications main li > .r > .c1 {
    flex: 1 0 auto;
}

#certifications main li > .r > .c2 {
    white-space: nowrap;
    flex: 1 0 1%;
    text-align: right;
}

#certifications main li > .r > .c2 aside {
    font-size: .8em;
    display: inline;
    font-style: oblique;
}

#certifications main li > .r > .c2 aside.emphasized {
    opacity: 1;
}

#certifications main li > .r > .c2 aside.muted {
    opacity: var(--phi-abs-down);
}

#certifications main li > .r2 > .c2 {
    font-size: .8em;
}

ul {
    padding-left: 1rem;
    margin: .22rem 0;
}

#content section > main ul > li {
    list-style-image: url("arrow.svg");
    font-size: .75em;
    font-size: .8125em;
    font-size: .78125em;
    margin-bottom: .15875rem;
}

#content section > main ul > li:last-child {}

#content section > main {
    padding-left: 1.5em;
}

#content section > main > footer > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    font-size: var(--phi-em-down);
    font-family: Nunito;
    height: 32px;
}

#content section > main > footer {
    padding-top: .333em;
}

a {
    color: var(--blue-dark);
    text-decoration: none;
}

#content section > main > footer > div > *:first-child {
    flex: 1 1 0%;
    margin-right: .5em;
    color: var(--blue-dark);
    text-align: right;
    font-size: 10px;
    border-right: 1px dashed #33669940;
    padding-right: .5em;
}

#content section > main > footer > div > *:first-child > span {
    font-weight: bold;
}

#content section > main > footer > div > *:last-child {
    flex: 1 1 auto;
}

#content section > main > footer > div > *:last-child > *:first-child {
    margin-bottom: 6px;
}

#content section > main > header {
    font-size: 1em;
    font-weight: 700;
    margin-top: 0.5em;
}

#content #experience main > header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: baseline;
    margin-top: 12px;
}

#content #experience main > header:first-child {
    margin-top: .5em;
}

#experience main > header .c1 {
    flex: 1 1 90%;
}

#experience main > header .c2 {
    flex: 1 0 auto;
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
    color: #555;
}

.contact-info .row .key small {
    opacity: 0.62;
}

#main > div {
    margin: 0rem 1.25rem;
}

#content .banner .text {
    font-size: 15pt;
    font-weight: 700;
    padding-top: 12pt;
}

.opensource .block-ul {margin-top:6pt;margin-bottom: 0pt;}
.block:last-child .block-ul {margin-bottom: 0;}
.education .block-ul {
    margin-top: 6pt;
}
.block-div {}
.block-ul {padding-left: .635rem;}
.block-li {list-style-type: none;}
.education .items-div {
    padding-top: 4pt;
    color: #555;
}
.items-div {
    font-size: 9.75pt;
    line-height: 14pt;
}

.education .items-div > ul {
    padding-left: 9pt;
    font-size: 9.5pt;
    font-weight: 700;
}
.education .items-div > ul > li {list-style-type:none;list-style-image:none;}
.items-div > ul > li {
    list-style-image: url("arrow.svg");
}
.degree-wrap {display:flex;justify-content: space-between;}

.block.locallabs {padding-top: 63pt;}
.opensource .stuff {font-size:11pt;font-weight:700;}
.institution {font-size: 11pt;font-weight: 700;}

#top header {
    top: 8pt;
    position: relative;
}

.nour-name-title {
    top: -2pt;
    position: relative;
    left: 4pt;
}

.nour-name {
    /* border: 1px dotted pink; */
    color: #336699;
    font-weight: 700;
    font-size: 20pt;
}

.nour-title {
    font-size: 13.5pt;
    font-weight: 600;
    padding-left: 18pt;
    padding-top: 1pt;
}

.contact-info {
    position: absolute;
    top: 0pt;
    right: 4pt;
    font-size: 10.5pt;
    font-weight: 700;
    width: 7rem;
}

.contact-info .row {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 8pt;
    padding: 1.5pt 0;
    align-content: flex-start;
    flex-direction: row;
}
.contact-info .key {
    white-space: nowrap;
    padding-right: 8pt;
    flex: 1 0 auto;
    text-align: right;
}
.contact-info .val {
    flex: 0 1 2.42rem;
    white-space: nowrap;
    text-align: right;
}
.url {color: #147;opacity: 0.94;}
.contact-email {
font-size: 9pt;color: #147;opacity: 0.94;}

.contact-phone.egypt {
}

.contact-phone.usa {
}

#top summary {
    border-bottom: 1px dashed rgba(0,0,0,0.33) !important;
    font-size: .75em;
    padding-left: 2.32em;
    font-style: italic;
    padding-top: 2em;
}

.company-title {
    display: inline-block;
}

.company-title .company {
    display: inline-block;
    font-size: 13.5pt;
    font-weight: 700;
}

.separator {
    display: inline-block;
    font-size: 1.1em;
    padding: 0 2pt;
}

.job-title, .deprecated, .company-title .title {
    display: inline-block;
    font-size: 12pt;
    font-weight: 700;
    color: #114477;
}

.city-date {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9.25pt;
    text-align: right;
    color: #555;
    vertical-align: text-bottom;
    line-height: 16pt;
}

.city-date.rdc {
  font-size: 8.25pt;
  position: relative;
  top: 1pt;
}

.city-date .city {
    /* position: relative; */
    display: inline-block;
}

.city-date .date {
    /* position: relative; */
    display: inline-block;
}

.company-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8pt;
    /* padding-top: 1pt; */
}

#top summary p {
    padding-bottom: 1em;
}

#top summary p:last-child {
    padding-bottom: var(--phi-em-up);
}

#top summary p:first-child {
    padding-bottom: var(--phi-em-down);
}

#content section > header {
    padding-top: 1.041667em;
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: .0529166rem;
}

