html, body {
    padding: 0;
}
html {
    margin: 0;
}
body {
    margin: 0.06cm 0;
    background-color: #CCC;
}

.body {
    width: 7.85in;
    border: 1px dotted white;
    margin: 0 auto;
    padding: 0;
    font-size: 16pt;
    font-family: 'Arvo', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    position: relative;
    background-color: white;
    color: rgba(0,0,0,0.8);
}

.guts {
    font-size: 16pt;
    margin: 0.75cm 1.25cm;
    border: 1px dotted red;
}

.bottom .banner .text {
    font-size: 15pt;
    font-weight: 700;
    padding-top: 12pt;
}

.opensource .block-ul {margin-top:6pt;margin-bottom: 0pt;}
.block:last-child .block-ul {margin-bottom: 0;}
.education .block-ul {
    margin-top: 6pt;
}
.block-div {}
.block-ul {padding-left: 18pt;}
.block-li {list-style-type: none;}
.bottom {}
.education .items-div {
    padding-top: 4pt;
    color: #555;
}
.items-div {
    font-size: 9.75pt;
    line-height: 14pt;
}

.education .items-div > ul {
    padding-left: 9pt;
    font-size: 9.5pt;
    font-weight: 700;
}
.education .items-div > ul > li {list-style-type:none;list-style-image:none;}
.items-div > ul > li {
    list-style-image: url("arrow.svg");
}
.degree-wrap {display:flex;justify-content: space-between;}
.body * {
    border: 0 !important;
}
.block.locallabs {padding-top: 63pt;}
.opensource .stuff {font-size:11pt;font-weight:700;}
.institution {font-size: 11pt;font-weight: 700;}

.top .header {
    top: 8pt;
    position: relative;
}

.nour-name-title {
    top: -2pt;
    position: relative;
    left: 4pt;
}

.nour-name {
    /* border: 1px dotted pink; */
    color: #336699;
    font-weight: 700;
    font-size: 20pt;
}

.nour-title {
    border: 1px dotted cyan;
    font-size: 13.5pt;
    font-weight: 600;
    padding-left: 18pt;
    padding-top: 1pt;
}

.contact-info {
    position: absolute;
    top: 0pt;
    right: 4pt;
    font-size: 10.5pt;
    font-weight: 700;
}

.contact-info > * {
    width: 148pt;
    /* display: flex; */
    /* justify-content:space-between
; */
    font-weight: 600;
    font-size: 8pt;
    padding: 1.5pt 0;
    text-align: right;
}
.contact-info .key {
    display: inline-block;
    white-space: nowrap;
    padding-right: 8pt;
}
.contact-info .val {
    display: inline-block;
}
.url {color: #147;opacity: 0.94;}
.contact-email {
font-size: 9pt;color: #147;opacity: 0.94;}

.contact-phone.egypt {
}

.contact-phone.usa {
}

.top .summary {
    border-bottom: 1pt dashed rgba(0,0,0,0.36) !important;
    font-size: 9pt;
    padding-left: 22pt;
    font-style: italic;
    padding-top: 20pt;
    padding-right: 10pt;
}

.company-title {
    display: inline-block;
}

.company-title .company {
    display: inline-block;
    font-size: 13.5pt;
    font-weight: 700;
}

.company-title .separator {
    display: inline-block;
    font-size: 13.5pt;
    padding: 0 2pt;
}

.company-title .title {
    display: inline-block;
    font-size: 12pt;
    font-weight: 700;
    color: #114477;
}

.city-date {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9.25pt;
    text-align: right;
    color: #555;
    vertical-align: text-bottom;
    line-height: 16pt;
}

.city-date.rdc {
  font-size: 8.25pt;
  position: relative;
  top: 1pt;
}

.city-date .city {
    /* position: relative; */
    display: inline-block;
}

.city-date .date {
    /* position: relative; */
    display: inline-block;
}

.company-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8pt;
    /* padding-top: 1pt; */
}

.top .summary .skills {
    font-size: 9pt;
    padding-bottom: 10pt;
}

.top .summary .languages {
    padding-bottom: 14pt;
    font-size: 9pt;
}

.top .summary .words {
    padding-bottom: 10pt;
    font-size: 9pt;
}

.bottom .experience {
    font-size: 0.5em;
}
